.note,.noteimp {
    width:18rem;
    height:18rem;
    transform: rotate(-3deg);
    transition: transform 0.3s ease-in-out; 
}
.note:hover {
    transform: rotate(-12deg); 
}
.noteimp:hover {
    transform: rotate(6deg); 
}
.card-body {
    position: relative;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.impo{
    padding-top: 1rem;
}